body {
  font-family: 'Nunito', sans-serif;
}

#app {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

img {
  max-width: 100%;
}
